.overlay-content {
  position: fixed;
  top: 15%;
  left: 40%;
  transform: translate(-50%, -50%);
  background: transparent; /* Không nền */
  border-radius: 12px;
  padding: 0;
  width: 100%;
  max-width: 520px;
  box-shadow: none; /* Bỏ shadow */
  z-index: 3000;
}

@media (max-width: 600px) {
  .overlay-content {
    width: 95%;
    border-radius: 8px;
  }
}